* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

.contenido {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
}

.integrantes {
    display: flex;
    justify-content: space-around; /* Espacio entre los integrantes */
    margin-bottom: 20px; /* Espacio debajo de los integrantes */
}

.integrante {
    text-align: center; /* Centra el texto dentro de cada integrante */
}

.integrante img {
    width: 150px; /* Ancho fijo para las imágenes */
    height: auto; /* Mantiene la proporción */
    border-radius: 50%; /* Hace que las imágenes sean circulares */
}

.boton-regreso {
    text-align: center; /* Centra el botón */
    margin-top: 20px; /* Espacio encima del botón */
}

.boton-regreso button {
    font-size: 1.25em;
    padding: 10px 20px;
    border-radius: 5px;
    border: none; /* Sin borde */
    background-color: #071d5a; /* Color de fondo azul */
    color: rgb(132, 140, 199); /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave en el fondo */
}

.boton-regreso button:hover {
    background-color: #05133a; /* Color más oscuro al pasar el mouse */

}
footer {
    text-align: center;
    margin-top: 20px;
}